<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
    <div class="side-top">
    </div>
    <div class="side-bottom">
    </div>
  </div>
  <div class="main-chat">
    <%= render "main_chat" %>
    <div class="main-top">
    </div>
    <div class="main-center">
    </div>
    <div class="main-bottom">
    </div>
  </div>
</div>